{%extends "layout.html"%}
{% block content%}
<div class="container mx-auto p-8">
    <h1 class="text-3xl font-bold mb-6 text-blue-600">{% if form.instance.pk %}Editar Cliente{% else %}Crear Cliente{% endif %}</h1>
    <form method="post" class="bg-white shadow-md rounded-lg p-6 space-y-4">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" value="{{ field.value|default_if_none:'' }}" class="border border-gray-300 rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                {% if field.help_text %}
                    <p class="text-gray-600 text-xs italic">{{ field.help_text }}</p>
                {% endif %}
                {% for error in field.errors %}
                    <p class="text-red-500 text-xs italic">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="flex justify-end">
            <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700">
                {% if form.instance.pk %}Actualizar{% else %}Crear{% endif %}
            </button>
        </div>
    </form>
</div>
{%endblock content%}