{% extends "layout.html"%}
{% block content%}
<h1>Detalle de la Orden</h1>
    <p>Cliente: {{ order.client }}</p>
    <p>Fecha: {{ order.date }}</p>
    <p>Dirección: {{ order.address }}, {{ order.city }}, {{ order.country }}</p>
    <p>Método de Pago: {{ order.method_payment }}</p>
    <h2>Bicicletas</h2>
    <ul>
        {% for bike in order.bikes.all %}
            <li>{{ bike.name }} - Cantidad: {{ bike.orderbike_set.get(order=order).quantity }}</li>
        {% endfor %}
    </ul>
    <h2>Accesorios</h2>
    <ul>
        {% for accessory in order.accessories.all %}
            <li>{{ accessory.name }} - Cantidad: {{ accessory.orderaccessories_set.get(order=order).quantity }}</li>
        {% endfor %}
    </ul>
{%endblock content%}